h3,h1 { color: blue;
    font-size:60px
  }
.header { 
    text-align: center;
font-family: "Lucida Console", monospace;

}

.line {

background: ghostwhite; 
          font-size: 20px; 
          padding: 10px; 
          border: 1px solid lightgray; 
          margin: 10px;

}

body { background-color:#F8F8FF


}

.img {
display: block;
margin-left: auto;
margin-right: auto;

     width:350px;
     height:300px;

}

 span{  font-size: 40px;



   
}


 

.center{
text-align: center;

}


.media { 
    margin-left: 650px; 
    text-align: center;
    
}

.nameSpan { 
  
          font-size: larger;


      animation: 5s linear 0s infinite alternate movingBar;
}

@keyframes movingBar { 
from { margin-left: -93%; } 
to { margin-right: -93%; }
}
